mat-toolbar {
  position: sticky; 
  top: 0;
  z-index: 100;
  color: #ff66b3;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 10px;
  background-color: #f0f6f6;

}
.img {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.toolbar-image {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
}

.spacer {
  flex-grow: 1; 
}

button {
  margin-left: 10px;
  color: #ff66b3;
  border-radius: 5px; 
  padding: 5px 10px; 
  cursor: pointer;
  border: none;
  background-color: #f0f6f6;
}
.burger-menu {
  display: none;
}

.desktop-menu {
  display: flex;
  gap: 10px;
}


mat-sidenav {
  background-color: white;
  padding: 10px;
}


@media (max-width: 768px) {
  .burger-menu {
    display: inline-flex;
  }

  .desktop-menu {
    display: none;
  }

  .sidenav-container {
    height: 100%;
  }

  mat-sidenav {
    width: 70%; 
  }

  mat-toolbar .toolbar-image {
    max-width: 30px;
    max-height: 30px;
  }
}
