<mat-toolbar color="primary">
    <div class="img" >
        <img src="/logo.png" alt="Logo" class="toolbar-image" routerLink="/"/>
        Stock - Zen
    </div>
    <span class="spacer"></span>
    <button mat-button routerLink="/features/dashboard">Tableau de Bord</button>
    <button mat-button routerLink="/features/transactions">Transactions</button>
    <button mat-button routerLink="/features/products">Produits</button>
    <button mat-button routerLink="/features/categories">Catégories</button>
    <button mat-button routerLink="/admin/users">Utilisateur</button>
    <button mat-button (click)="logOut()">Déconnecter</button>

  </mat-toolbar>