<mat-card>
  <mat-card-title>Contactez-nous</mat-card-title>

  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" type="text" placeholder="Entrez votre nom">
        <mat-error *ngIf="formGroup.get('name')?.hasError('required')">Nom requis</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Sujet</mat-label>
        <mat-select formControlName="subject">
          <mat-option *ngFor="let option of subjectOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('subject')?.hasError('required')">Sujet requis</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Entrez votre email">
        <mat-error *ngIf="formGroup.get('email')?.hasError('required')">Email requis</mat-error>
        <mat-error *ngIf="formGroup.get('email')?.hasError('email')">Format email invalide</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" placeholder="Votre message"></textarea>
        <mat-error *ngIf="formGroup.get('message')?.hasError('required')">Message requis</mat-error>
      </mat-form-field>

      <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>

      <div *ngIf="isLoading" class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>

      <div class="button-container">
        <button class="custom-button" mat-raised-button color="primary" type="submit" 
        [disabled]="formGroup.invalid || isLoading"
        [ngClass]="{ 'disabled-button': formGroup.invalid || isLoading }">Envoyer</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>