<mat-card>
    <mat-card-title>Connexion</mat-card-title>

    <mat-card-content>

      <form [formGroup]="formGroup" (ngSubmit)="Submit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Entrez votre email">
          <mat-error *ngIf="formGroup.get('email')?.hasError('required')">Email requis</mat-error>
          <mat-error *ngIf="formGroup.get('email')?.hasError('email')">Format email invalide</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Entrez votre mot de passe">
          <mat-error *ngIf="formGroup.get('password')?.hasError('required')">Mot de passe requis</mat-error>
          <mat-error *ngIf="formGroup.get('password')?.hasError('min')">Mot de passe trop court</mat-error>
          <mat-error *ngIf="formGroup.get('password')?.hasError('max')">Mot de passe trop long</mat-error>
        </mat-form-field>

        <p *ngIf="errorMessage" class="error" color="red"> {{errorMessage}} </p>

        <!-- Boutons -->
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" >Se connecter</button>
          <button mat-raised-button color="accent" type="button" (click)="goToRegister()">S'inscrire</button>
        </div>

      </form>

    </mat-card-content>

</mat-card>