.stock-list-container {
    height: 100vh; /* Full height */
  }
  
  table {
      width: 100%;
      border-collapse: collapse;
  
    }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  .stock-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  .error {
    margin-top: 10px;
    padding: 12px;
    color: white;
    background-color: #f44336; 
    border-radius: 4px;
  }
  .empty-state {
    text-align: center;
    margin-top: 50px;
  }
  
  @media (max-width: 600px) {
    table {
      width: 100%;
      overflow-x: auto;
      display: block;
    }
  
    th, td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  
    th {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    td {
      border: none;
      position: relative;
      padding-left: 50%;
    }
  
    td:before {
      content: attr(data-title);
      position: absolute;
      left: 10px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  }