<div fxLayout="row" fxLayoutAlign="start center" class="product-detail-container"> 
    <div class="product-detail">
        <div>
            <button class="arrow_back" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <mat-card>
            <mat-card-header>
                <mat-card-title> Détail du produit</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><strong>Nom : </strong>{{product?.name}}</p>
                <p><strong>Description : </strong>{{product?.description}}</p>
                <p><strong>Quantité : </strong>{{product?.quantity}}</p>
                <p><strong>Prix : </strong>{{product?.price}}</p>
                <p><strong>Seuil : </strong>{{product?.threshold}}</p>
                <p><strong>Créer par : </strong>{{product?.userName}}</p>
                <p><strong>Catégorie : </strong>{{product?.categoryName}}</p>
            </mat-card-content>
            <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
  
            <div *ngIf="isLoading" class="loading-spinner">
            <mat-spinner></mat-spinner>
            </div>
        </mat-card>
    </div>
</div>