<div fxLayout="row" fxLayoutAlign="start center" class="product-detail-container"> 
    <div class="product-detail">
        <div>
            <button class="arrow_back" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <mat-card>
            <mat-card-header>
                <mat-card-title> Détail du produit</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p><strong></strong></p>
                <p><strong></strong></p>
                <p><strong></strong></p>
                <p><strong></strong></p>
                <p><strong></strong></p>
                <p><strong></strong></p>
                <p><strong></strong></p>
            </mat-card-content>
        </mat-card>
    </div>
</div>