<mat-toolbar color="primary" class="toolbar">
  <img src="/logo.png" alt="Logo" class="toolbar-image" />
  Stock - Zen
</mat-toolbar>

<div class="hero">
  <h1>Simplifiez la Gestion de Votre Stock</h1>
  <p class="subtitle">Prenez le contrôle de vos inventaires, optimisez vos opérations et gagnez en efficacité.</p>
  <div class="hero-buttons">
    <button class="custom-button" color="primary" routerLink="/auth/login">Se Connecter</button>
    <button class="custom-button" color="accent" routerLink="/auth/register">S'Inscrire Gratuitement</button>
  </div>
</div>

<div class="features">
  <h2>Fonctionnalités Clés</h2>
  <div class="feature-list">
    <div class="feature-item">
      <mat-icon>inventory_2</mat-icon>
      <h3>Suivi Précis de l'Inventaire</h3>
      <p>Visualisez en temps réel la quantité de chaque produit en stock.</p>
    </div>
    <div class="feature-item">
      <mat-icon>add_shopping_cart</mat-icon>
      <h3>Gestion des Entrées et Sorties</h3>
      <p>Enregistrez facilement les arrivages et les ventes de produits.</p>
    </div>
    <div class="feature-item">
      <mat-icon>notifications</mat-icon>
      <h3>Alertes de Stock Bas</h3>
      <p>Soyez notifié lorsque vos niveaux de stock atteignent un seuil critique.</p>
    </div>
    <div class="feature-item">
      <mat-icon>bar_chart</mat-icon>
      <h3>Rapports et Analyses</h3>
      <p>Obtenez des informations précieuses sur la performance de votre stock.</p>
    </div>
    </div>
</div>

<div class="why-choose-us">
  <h2>Pourquoi Choisir Notre Application ?</h2>
  <p>Notre solution de gestion de stock est conçue pour être intuitive, puissante et abordable. Nous vous aidons à :</p>
  <ul>
    <li>Réduire les pertes dues au surstock ou aux ruptures.</li>
    <li>Optimiser vos flux de travail et gagner du temps.</li>
    <li>Améliorer la satisfaction de vos clients en assurant la disponibilité des produits.</li>
    <li>Prendre des décisions éclairées grâce à des données fiables.</li>
  </ul>
</div>

<div class="cta">
  <h2>Prêt à Optimiser Votre Stock ?</h2>
  <p>Rejoignez des milliers d'entreprises qui gèrent leur stock efficacement avec notre application.</p>
  <button  class="custom-button" routerLink="/auth/register">Commencer Gratuitement</button>
</div>