<mat-toolbar color="primary">
  Gestion de Stock - Accueil
</mat-toolbar>
<div class="content">
<mat-card>
  <mat-card-title>Se connecter</mat-card-title>
  <mat-card-content>
    <p>Accédez à votre compte pour gérer votre stock.</p>
    <button mat-raised-button color="primary" routerLink="/auth/login">Connexion</button>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>S'inscrire</mat-card-title>
  <mat-card-content>
    <p>Créez un compte pour commencer à suivre vos produits.</p>
    <button mat-raised-button color="accent" routerLink="/auth/register">Inscription</button>
  </mat-card-content>
</mat-card>
</div>

