<div fxLayout="row" fxLayoutAlign="start center" class="user-detail-container"> 

    <div class="user-detail">
      <div>
        <button class="arrow_back" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
        </button>
       </div> 
      <mat-card>
        <mat-card-header>
          <mat-card-title>Profil Utilisateur </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Prénom:</strong> {{ user.firstname }}</p>
          <p><strong>Nom:</strong> {{ user.lastname }}</p>
          <p><strong>Date de naissance:</strong> {{ user.dateOfBirth  | date}}</p>
          <p><strong>Ajouter le</strong> {{user.createdDate | date }} </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>