.profile-header {
  display: flex;
  margin-bottom: 20px;
}
mat-card {
  width: 100%;
  max-width: 500px; 
  margin: 20px auto;
}
.title {
  margin-left: 120px;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}
.full-width {
  width: 100%;
}